/* basic css*/

.header {
  height: 100vh;
  background: linear-gradient(rgba(153, 0, 0, 0.595), rgba(153, 0, 0, 0.595)), url('../images/photo-1534665482403-a909d0d97c67.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.about {

  padding-top: 10rem;
  padding-bottom: 10rem;
}

.every_company {
  background-color: #E6956D;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.our-process {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sticky-item {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 3.5rem;
}

.contact-us{
  background-color: #E6956D;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer{
  background-color: black;
}
@media only screen and (max-width: 800px) {
  .mobile-text-center {
    text-align: center;
  }

  .hide-mobile {
    display: none !important;
  }
}